# Calibration matrix

# camera.-1.A=[1260.54274 0. 1052.37806; 0 1261.73619 814.16492; 0 0 1]
camera.A=[1260.54274 0. 1052.37806; 0 1261.73619 814.16492; 0 0 1]
camera.width=2064
camera.height=1544

# Optional parameters for radial and tangential distortion. Missing
# parameters are assumed to be 0
# Use these, they are for plumb_bob distortion_model:
camera.k1=-0.084006
camera.k2=0.092924
camera.k3=0.001630
camera.p1=-0.002869
camera.p2=0.000000

# Alternative optional parameters for equidistant distortion model
# Don't use these, they are for equidistant
# camera{.-1}.e1=<e1>
# camera{.-1}.e2=<e2>
# camera{.-1}.e3=<e3>
# camera{.-1}.e4=<e4>

# Extrinsic position of orientation of camera (only relevant for stereo,
# i.e. if <id> is given). The extrinsic transformations are defined by
# Pw = camera.0.R * P0 + camera.0.T and Pw = camera.1.R * P1 + camera.1.T

# camera{.-1}.R=[<r00> <r01> <r02>; <r10> <r11> <r12>; <r20> <r21> <r22>]
# camera{.-1}.T=[<tx> <ty> <tz>]

# Optionally the focal length in pixel for rectification. By default, the
# focal length is computed as average of <fx> and <fy>.

# rect.f=1261.139465