BlackLevelAuto=Continuous
BlackLevel=0 # This one is important set to 0
# Camera
## GenICam
### ImageFormatControl
Width=2064
Height=1544
OffsetX=0
OffsetY=0
PixelFormat=Mono8
mvSensorDigitizationBitDepth=Auto
TestPattern=Off
ImageCompressionMode=Off

### AcquisitionControl
AcquisitionMode=Continuous
ExposureMode=Timed
ExposureTime=89524.000 # This one is important set to 89524.000
ExposureAuto=Continuous

mvExposureAutoLowerLimit=10
mvExposureAutoUpperLimit=89524.000
#### TriggerSelector
TriggerSelector=FrameStart
TriggerMode=Off
TriggerSource=Line4
TriggerActivation=RisingEdge
# AcquisitionFrameRate=65.400
AcquisitionFrameCount=1
# mvResultingFrameRate=4.900 # Feature not writable

# ### AnalogControl
GainSelector=AnalogAll
Gain=0.000
GainAuto=Continuous
mvGainAutoAverageGrey=50
mvGainAutoAOIMode=mvFull

### TransportLayerControl
### UserSetControl

# ImageProcessing

# ImageDestination

# RequestInfo



































