<launch>
	<node name="rc_genicam_camera" pkg="rc_genicam_camera" type="rc_genicam_camera" args="_device:=VID164C_PID5533_FF001107"/>
	<!-- rc_genicam_camera rc_genicam_camera _device:=VID164C_PID5533_FF001107 -->
	<node name="my_qr_detector" pkg="object_detector" type="qr_detector" output="screen"/>
	<node name="my_image_converter" pkg="object_detector" type="image_converter" output="screen"/>
</launch>